<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to ChIP-Seq Pair</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Welcome to ChIP-Seq Pair</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome to ChIPSeq Pair</h1>
            <p class="lead"></p>
            <p>
                <a align="left" class="btn btn-lg btn-success" href="search" role="button">Search</a>
                <a align="center" class="btn btn-lg btn-success" href="match" role="button">Match</a>
                <a align="right" class="btn btn-lg btn-success" href="query" role="button">Query</a>
            </p>
        </div>

        <div class="row functioning">
            <div>
                <h4>Search</h4>
                <p>Search the ChIP-seq datasets with keywords and species.</p>

                <h4>Match</h4>
                <p>Pair the ChIP-seq datasets with different genetic features</p>

                <h4>Query</h4>
                <p>Get the metadata information for raw data, such download links, sequencing types (paired or single end)...</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Kaifu Chen lab 2017, Houston Methodist</p>
        </footer>

    </div>
</body>

</html>