<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/search.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">ChIP-Seq Pair</h3>
      </div>

      <div class="jumbotron">
        <h1>Search</h1>
        <form action = "http://127.0.0.1:5000/search" class="form-search" method="post">
        <label for="searchterms" class="sr-only">Search Terms</label>
        <input type="text" name="searchterms" id="searchterms" class="form-control" placeholder="H3K4me3" required>
        <label for="Species" class="sr-only">Organism</label>
        <input type="text" name="Species" id="Species" class="form-control" placeholder="Homo sapiens">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
        <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Kaifu Chen lab 2017, Houston Methodist</p>
      </footer>

    </div>
  </body>


</html>